body {
  background-color: rgb(253, 251, 251);
  font-family: "Trebuchet MS", sans-serif;
}

#cabecalho {
  position: fixed;
  top: 0;
  background-color: rgb(3, 107, 82);
  width: 100%;
  height: 100px;
  text-align: left;
  padding-left: 20px;
  margin: auto -1%;
  font-family: "Trebuchet MS", sans-serif;
  color: rgb(164, 255, 234);
  z-index: 5;
}

#titulo {
  font-size: 100px;
  margin-top: -10px;
}

nav {
  background-color: rgb(7, 160, 124);
  color: rgb(253, 251, 251);
  display: inline-block;
  text-align: left;
  position: fixed;
  top: 80px;
  width: 100%;
  padding: 5px;
  padding-left: 20px;
  margin: auto -1%;
  z-index: 5;
}

nav a:link {
  color: rgb(253, 251, 251);
  text-decoration: none;
}
nav a:hover {
  background-color: rgb(3, 107, 82);
}
nav a:visited {
  color: rgb(108, 250, 217);
  text-decoration: none;
}

aside {
  width: 300px;
  height: 140px;
  background-color: rgb(73, 177, 153);
  color: rgb(62, 109, 98);
  float: right;
  margin-top: -600px;
  margin-right: -10px;
  padding: 300px 15px;
}

p {
  padding: 5px 0px 0 10px;
}

a {
  padding: 5px 10px;
}

#tabela {
  width: 325px;
  margin-left: 100px;
}

#base td {
  background-color: rgb(177, 214, 206);
  padding: 10px 30px;
}
h3 {
  background-color: rgb(3, 107, 82);
  color: rgb(253, 251, 251);
  width: 325px;
  text-align: center;
  margin-bottom: 0px;
  padding: 5px 0;
}

footer {
  background-color: rgb(3, 107, 82);
  color: rgb(253, 251, 251);
  width: 105%;
  height: 30px;
  text-align: left;
  position: relative;
  margin: auto -1%;
  padding: 0 10px;
}

#minha_foto {
  border: 2px solid rgb(32, 201, 161);
  height: 300px;
  margin-top: 120px;
  position: absolute;
}

article {
  width: 40%;
  color: rgb(0, 46, 36);
  margin-top: 10px;
}

.listas {
  display: inline-block;
  margin-left: 20px;
  background-color: rgba(176, 253, 235, 0.575);
  padding: 0 20px;
}

.bloco-listas {
  width: 600px;
  display: inline-block;
  margin: 140px 0 0px 250px;
}
.linha {
  line-height: 1.8;
  padding: 0px;
}
