body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  /* border: 3px solid green; */
  position: fixed;
  top: 0;
  background-color: #036b52;
  width: 100%;
  height: 80px;
  text-align: center;
}

nav {
  /* border: 3px solid red; */
  background-color: #07a07c;
  color: rgb(253, 251, 251);
  display: inline-block;
  text-align: left;
  position: fixed;
  top: 80px;
  width: 100%;
  padding: 6px;
}

article {
  border: 3px solid red;
}

section {
  border: 1px solid blue;
}

footer {
  background-color: #036b52;
  color: rgb(253, 251, 251);
  width: 100%;
  height: 20px;
  text-align: center;
  position: relative;
}

#minha_foto {
  /* background-color: red; */
  height: 300px;
  top: 110px;
  
}
